* {
    border-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --darkIndigo: hsl(269, 100%, 20%);
    --darkIndigoTransparent: rgba(49, 0, 102, 0.89);
    --indigo: hsl(269, 100%, 35%);
    --violet: hsl(269, 100%, 50%);
    --lemonChiffon: hsl(51, 100%, 88%);
    --gold: hsl(51, 100%, 50%);
    --olive: hsl(60, 100%, 20%);
}

body,
html {
    width: 100%;
    height: 100%;
}

#wrapper {
    background-image: url("bg.svg");
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Game Area */

#gameArea {
    width: 95%;
    height: 90%;
    background-color: var(--darkIndigoTransparent);
    color: var(--lemonChiffon);
    border-radius: 2rem;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#userArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

#title h1 {
    margin: 4rem;
}

#subtitle {
    margin-bottom: 6rem;
}

#gameOver {
    display: none;
    margin-bottom: 4rem;
}

#timerArea {
    margin: 4rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    height: 100%;
}

hr {
    margin: 2rem;
    width: 80%;
    opacity: 1;
}

#buttonArea {
    margin: 4rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--lemonChiffon);
    color: var(--indigo);
    
}

.button:hover {
    cursor: pointer;
}

#submissionInputForm {
    display: none;
    padding: 2rem;
    margin: 2rem;
}

#nameInput {
    width: 12rem;
    margin: 0 1rem;
    padding: 0.25rem;
    background: none;
    border: none;
    background-color: var(--lemonChiffon);
    color: var(--indigo);
    border-radius: 0.5rem;
    cursor: input;
}

#submitScore {
    margin: 0 1rem;
    transform: scale(0.7);
}

#replay {
    display: none;
}

#button, #replay {
    tranform: scale(1);
    transition: 0.2s ease;
}

#button:hover, #replay:hover {
    background-color: var(--gold);
    box-shadow: 0 0 5px var(--gold), 0 0 20px var(--gold);
}

/* Scores Area  */

#scoreArea {
    padding-top: 6rem;
}

#scoreTitle {
    margin: 2rem;
}

#scoreList li {
    list-style: none;
}