* {
    border-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

#wrapper {
    background: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Game Area */

#gameArea {
    width: 80%;
    height: 90%;
    background-color: #194cff;
    color: white;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

#title h1 {
    margin: 4rem;
}

#subtitle {
    margin-bottom: 6rem;
}

#gameOver {
    display: none;
    margin-bottom: 4rem;
}

#timerArea {
    margin: 4rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    height: 100%;
}

hr {
    margin: 2rem;
    width: 80%;
    opacity: 1;
}

#buttonArea {
    margin: 4rem;
    width: 50%;
}

#button {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
    color: green;
    tranform: scale(1);
    transition: 0.2s ease;
}

#button:hover {
    cursor: pointer;
    background-color: gold;
    box-shadow: 0 0 5px gold, 0 0 20px gold;
}
